@import "../../../styles/mixins.scss";

.swipper {
  @include grab;
  position: relative;
  min-width: 200px;
  min-height: 200px;
  overflow: hidden;

  .container {
    @include row;
    @include absolute();
    transition: 0.3s transform;

    & > * {
      flex-shrink: 0;
    }
  }

  .unselectable {
    & > * {
      @include unselectable;
    }
  }
}
