// @import "../../../styles/animations.scss";
// @import "../../../styles/theme.scss";
@import "../../../styles/mixins.scss";

.swipper {
  position: relative;
  background: red;
  min-width: 200px;
  min-height: 200px;
  overflow: hidden;

  .container {
    @include row;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    & > * {
      background: blue;
      flex-shrink: 0;
    }
  }
}
