@import './media.scss';

html {
  @include mobile {
    font-size: 62.5%; // 10px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #f6f6f6;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
ul,
ol {
  margin: 0;
  padding: 0;
}
