@import "./theme.scss";

@mixin circle($height, $width) {
  border-radius: 50%;
  height: $height;
  width: $width;
}

@mixin absolute($top: 0, $right: 0, $bottom: 0, $left: 0) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin fixed($top, $right, $bottom, $left) {
  position: fixed;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin col() {
  display: flex;
  flex-flow: column;
}

@mixin row() {
  display: flex;
}

@mixin centerXY {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin separator($height, $width) {
  height: $height;
  width: $width;
  background: $dark;
}

@mixin grab {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

@mixin unselectable {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
